/* Style */

html, body, ul, li, a, h1, h2, h3, h4, h5, hr, article, section, div, p {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html, body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.hidden {
  display: none;
}

.sidebar {
    background: #292929;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    color: white;

}

.sidebar > img{
	display: block;
	margin: 20px auto;
}

.sidebar > ul {
	margin-top: 20px;
}

.sidebar > ul > li > a {
	text-decoration: none;
}


.sidebar > ul > li {
	text-align: center;
	padding: 20px;
}

.sidebar > h5 {
	font-size: 10px; 
	text-align: center
}

.sidebar > h3 {
	text-align: center;
}

li.home:hover, li.projects:hover, li.resume:hover, li.about:hover {
	background:black;
  	color: white;
  	cursor: pointer;
}

li.resume:hover > a {
	color: white;
}

.push {
    /* Relative positioning lets us move it over, as well as stack it using z-index. */
    position: relative;

    /* Default no nudging. */
    left: 0;

    /* Container has to be full width and height of body element, which is the same size as viewport. */
    width: 100%;
    height: 100%;

    /* We don't want scroll bars or content sticking out. */
    overflow: hidden;

    /* Stack push container on top of sidebar. Push needs to be front most. */
    z-index: 2;

    /* It needs a background color, else you will see the sidebar behind it. */
    background: #F7F7F7;

    /* The magic of making it slide. */
    transition: left 0.5s;

    /* Fancy shadow to show depth if desired. */
    box-shadow: -10px 0 20px rgba(0,0,0,0.2);
}

.open-menu .push {
    /* Move the push container over, revealing the sidebar. */
    left: 200px;
}

.open-menu .push:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.main {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.home-page {
	text-align: center;
	width: 800px;
	margin: 100px auto;
}

.home-page > img {
	border: 1px solid black;
}

button.nav {
  text-decoration: none;
  border: none;
  background: #F6F6F6;
  font-size: 20px;
  left: 20px;
  top: 20px;
  border-radius: 10px;
  position: fixed;
  padding: 10px 20px;
}

button.nav:hover {
  cursor: pointer;
  background: lightgrey;
}

/*HOME PAGE*/

button.projects {
  border: 1px solid grey;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  background: black;
  margin-top:  30px;
  font-size: 10px;
}

button.projects:hover {
  cursor: pointer;
}

.home-page {
  margin-top: 150px;
}
.home-page h1 {

  font-size: 130px;
  color: rgb(87, 218, 153);
}

.home-page h2 {
  font-size: 30px;
  margin-top: 10px;
}

.icons {
  margin-top: 30px;
}

.home-page .icons a {
  margin: 10px;
  color: lightblue;
}

span.gray {
  color: rgb(171, 166, 166)
}


span.black {
  color: black;
}

/*ABOUT ME*/

div.about {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

div.about h1 {
 margin: 20px auto;
 text-align: center;
}

div.about p {
  margin: 0 auto;
}

/*PROJECTS PAGE*/

div.projects {
  width: 100%;
  height: 100%;
  color: #808080;
}

div.projects > h1 {
	text-align: center;
  padding: 40px;
}

.yourfitnesspal, .asteroids, .activerecord, .tictactoe {
  width: 800px;
  margin: 13px auto;
  display: block;
}

.tictactoe {
  margin-bottom: 100px;
}

div.orange {
  background-color: #f5f3e4;
  border-top: 1px solid #FAC146;
  border-bottom: 1px solid #FAC146;
}

div.blue {
  background-color: #CEE5F0;
  border-top: 1px solid #3399CC;
  border-bottom: 1px solid #3399CC;
}

div.projects > div.orange > .yourfitnesspal > div.image {
  margin: 0 auto;
  display: block;
  height: 300px;
}

div.projects > div.orange > .yourfitnesspal > div.image > div.diary {
  float: left;
  width: 350px;
  height: 100%;
  margin-left: 40px;
}

div.projects > div.orange > .yourfitnesspal > div.image > div.database {
  float: right;

  width: 350px;
  height: 100%;
  margin-right: 40px;
}

div.projects > div.orange > .yourfitnesspal > div.image > div.diary > img {
  max-width: 100%;
  max-height: 100%
}

div.projects > div.orange > .yourfitnesspal > div.image > div.database > img {
  max-width: 100%;
  max-height: 100%
}

div.projects > div.orange > .yourfitnesspal > ul {
	float: right;
}

div.projects > div.orange > .yourfitnesspal > li {
  list-style-type: disc;
  list-style-type: inside;
}

div.projects > .asteroids > div.asteroidsimg, 
div.projects > div.blue > .activerecord > div.active-record-img,
div.projects > .tictactoe > div.tictactoeimg
 {
  width: 550px;
  height: 400px;
  margin: 10px auto;
}

div.projects > .asteroids > div.asteroidsimg > img, 
div.projects >  div.blue > .activerecord > div.active-record-img > img,
div.projects > .tictactoe > div.tictactoeimg > img {
  max-width: 100%;
  max-height: 100%
}

div.projects h3 {
  font-size: 24px;
  display: inline;
}

div.projects > p {
  display: inline;
}

@font-face { 
  font-family: Edmondsans-Regular; 
  src: url('fonts/Edmondsans-Regular.otf'); 
} 

body {
    font-family: Edmondsans-Regular;
    background: #E0E0E0;
}

nav.sidebar {
  color: #808080;
}

nav.sidebar > h3 {
  color: white;
}

ul {
    list-style: none;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.sidebar > footer {
	background-color: #292929;
	width: 100%;
	height: 40px;
	position:absolute;
	bottom:0;
	font-size: 10px;
  margin: 0 auto;

}

.sidebar > footer > ul {
	margin: 0 auto;
}

.sidebar > footer > ul > li {
	float: left;
	padding: 0 10px;
}

.sidebar > footer > ul > li > a {
	text-decoration: none;
	color: #BDBDBD;
}

.sidebar > footer > ul > li > a:hover {
	color: white;
}

/*RESUME PAGE*/

div.resume {
  padding: 20px;
  width: 850px;
  margin: 50px auto;
  font-family: arial;
  background: white;
};

div.resume div.download {
  float:right;
}

div.resume > p > strong {
 color: blue;
 font-size: 10px
}

div.resume > h2 {
  font-size: 50px;
}

div.resume table {
  margin-top: 10px;
}

div.resume tr {
}

div.resume table li {
  list-style: disc;
  list-style-type: disc;
}

div.resume td {
  padding: 10px;
  border-top: 1px dotted grey;
}


span.blue {
  color: #4CAEE3;
}
